<p><a class="btn btn-lg btn-success" ng-href="#/">Go Home!</a></p>
 <p><a class="btn btn-lg btn-success" ng-href="#/new">Go to First chatroom!</a></p>

<h1>The second chatroom</h1>

<form ng-submit="createPost(post)">
	<input type="text" ng-model="post.title" placeholder="name">
	<textarea ng-model="post.message" placeholder="message"></textarea>
	<button> Create </button>
</form>


<section ng-repeat="post in message">
	<h2>{{post.date | date: format : timezone}}</h2>
	<h2>{{post.title}}</h2>
	<p>{{post.message}}</p>
</section>


